[submodule "external/Sana"]
	path = external/Sana
	url = https://github.com/agshar96/Sana.git
	branch = Hoi3DGen
[submodule "external/external/Grounded-SAM-2"]
	path = external/external/Grounded-SAM-2
	url = https://github.com/agshar96/Grounded-SAM-2.git
	branch = Hoi3DGen
[submodule "external/Grounded-SAM-2"]
	path = external/Grounded-SAM-2
	url = https://github.com/agshar96/Grounded-SAM-2.git
	branch = Hoi3DGen
[submodule "external/HunYuan3D-2"]
	path = external/HunYuan3D-2
	url = https://github.com/agshar96/Hunyuan3D-2.git
	branch = Hoi3DGen
[submodule "external/CameraHMR"]
	path = external/CameraHMR
	url = https://github.com/agshar96/CameraHMR
[submodule "external/Hunyuan3D-2.1"]
	path = external/Hunyuan3D-2.1
	url = https://github.com/agshar96/Hunyuan3D-2.1.git
	branch = Hoi3DGen_Fixed
